@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    margin: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.progress-section {
    /* max-width: 100%; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    position: relative;
}

.progress-bar {
    position: absolute;
    background-color: aqua;
    height: 5px;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%); /* to center the progress bar */
}