@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Bebas Neue", sans-serif;
    font-family: "Roboto", sans-serif;
}

body,
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%); */
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
    position: relative;
}

main section.heading {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
}

main section.heading h1 {
    font-size: 2rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 0.5rem;
}

main section.heading span {
    font-size: 1rem;
    color: #000000;
}

main section.event {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main section.event .card {
    width: 10rem;
    height: 10rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    position: relative;
}

main section.event .card:hover {
    transform: scale(1.04);
}

section.event .card small {
    position: absolute;
    top: 0.5rem;
    font-size: 0.8rem;
    color: #000000;
}

section.event .card h4 {
    font-size: 1.2rem;
    color: #000000;
    letter-spacing: 0.1rem;
}

