@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Bebas Neue", sans-serif;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.background {
    background: url("https://images.unsplash.com/photo-1499123785106-343e69e68db1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80")
        no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    filter: blur(70px);
    top: -30px;
    left: -30px;
    /* to remove the while part blur in the background I'm using calc(). */
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
}

.loading-text {
    font-size: 2rem;
    font-weight: 600;
}